<section>
    <div class="container" style="padding-top: 10px;">
        <div class="row">
            <div class="col-lg-10 col-md-10" style="font-size: 20px; font-weight: 600; color: #01458e;">
                Welcome <span>{{userName}}</span>
            </div>
            <!-- <div class="col-lg-2 col-md-2">
                <nav class="nav-menu d-none d-lg-block">
                    <ul class="">
                        <li class="drop-down">
                            <a href="javascript:void(0);" class="dropdown-toggle" style="color: #01458e;">QUICK
                                ACTION</a>
                            <ul>
                                <li><a class="dropdown-item">Search TL</a></li>
                                <li><a class="dropdown-item">New Application</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div> -->
        </div>
    </div>

</section>
<section id="counts" class="counts">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="row">

            <div class="col-sm-4 studentattendance">
                <div class="card">
                    <div class="card-body" style="padding:0;">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-cls-1"
                                    src="https://evidyavahini.jharkhand.gov.in/public/images/schooltablet.png"
                                    alt="teacher available">
                            </div>
                            <div class="col-sm-8">
                                <div class="schoolfooter">
                                    <a href="https://evidyavahini.jharkhand.gov.in/School/MIS/SchoolRawReportMis">
                                        <h1 class="school_cnt">35431</h1>
                                    </a>
                                    <p>Number of govt. schools</p>
                                    <a class="boxtext"
                                        href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitDetails"><span
                                            class="school_cnt_brp">1877</span></a>

                                    <a href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitDetails"><small>No.
                                            of schools visited by BRP/CRP </small></a>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:40%">
                                            Free Space
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-4 teacherattendance">
                <div class="card">
                    <div class="card-body" style="padding:0;">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-cls-1"
                                    src="https://evidyavahini.jharkhand.gov.in/public/images/teacherbrp.png"
                                    alt="teacher available">
                            </div>
                            <div class="col-sm-8">
                                <div class="schoolfooter">
                                    <a href="https://evidyavahini.jharkhand.gov.in/Teacher/MIS/TeacherRawReport">
                                        <h1 class="teacher_cnt">115500</h1>
                                    </a>
                                    <p>Number of teachers</p>

                                    <ul class="manuallteacher">
                                        <a href="https://evidyavahini.jharkhand.gov.in/Teacher/MIS/TeacherSummary">
                                            <li class="totalprsnt"><small>Total present <span
                                                        class="teacher_present_cnt">89704</span></small></li>
                                        </a>
                                        <a href="https://evidyavahini.jharkhand.gov.in/Teacher/MIS/TeacherSummary">
                                            <li><small>Manual attendance <span class="manual_cnt">5693</span></small>
                                            </li>
                                        </a>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-sm-4 brp">
                <div class="card">
                    <div class="card-body" style="padding:0;">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="img-cls-1"
                                    src="https://evidyavahini.jharkhand.gov.in/public/images/brpcrp.png"
                                    alt="teacher available">
                            </div>
                            <div class="col-sm-8">
                                <div class="schoolfooter">
                                    <a href="https://evidyavahini.jharkhand.gov.in/Master/MIS/EmpProfileMIS">
                                        <h1 class="brp_cnt">2924</h1>
                                    </a>
                                    <p>Number of BRP/CRP</p>
                                    <a href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitSummary"
                                        class="boxtext"><span class="active_brp_cnt">1170</span></a>
                                    <a href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitSummary"><small>No.
                                            of active BRP/CRP</small></a>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width:40%">
                                            Free Space
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<section>
    <div class="container panel" style="padding-top: 10px;padding-bottom: 10px;">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header panel-header">
                        Certificate Data
                    </div>
                    <div class="card-body">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
    
                                    <div class="tab-content downloadtable">
                                        <div class="certificate">
                                            <div class="nomination">
                                                <h3> <a class="certificationdata"
                                                        href="https://evidyavahini.jharkhand.gov.in/Master/CertSetauthority/consolidatedMis">8991</a>
                                                </h3>
                                                <span>Total certificate Nomination</span>
    
                                            </div>
                                            <div class="verifiedcrpbrp">
                                                <h3><a class="certificationdata"
                                                        href="https://evidyavahini.jharkhand.gov.in/Master/CertSetauthority/consolidatedMis">1300</a>
                                                </h3>
                                                <span>School verified by BRP/CRP</span>
                                                <small> <a class="smalltext"
                                                        href="https://evidyavahini.jharkhand.gov.in/Master/CertSetauthority/consolidatedMis">
                                                        Approved by BRP/CRP: <span
                                                            class="school_cnt_brp">778</span></a></small>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width:40%">
    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="external">
                                                <h3><a class="certificationdata"
                                                        href="https://evidyavahini.jharkhand.gov.in/Master/CertSetauthority/consolidatedMis">846</a>
                                                </h3>
                                                <span>School verified by external</span>
                                                <small><a
                                                        href="https://evidyavahini.jharkhand.gov.in/Master/CertSetauthority/consolidatedMis">Approved
                                                        by external: <span class="school_cnt_brp">216</span></a></small>
                                                <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width:40%">
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
    
    
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header panel-header">
                        Downloaded Documents
                    </div>
                    <div class="card-body">
                        <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-12">
                       
                               <div class="tab-content downloadtable">
                                 <div class="table-responsive">
                                   <table>
                                     <thead>
                                        <tr>
                                           <th>Sl#</th>
                                           <th>Details</th>
                                           <th></th>
                                           <th>Action</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                           <td>01</td>
                                           <td>eVV FAQ Document</td>
                                           <td>30 KB</td>
                                           <td><a class="download" href="https://evidyavahini.jharkhand.gov.in/storage/app/uploadsimages/Dashboard/eVidyavahini_FAQ.docx" download=""><i class="fa fa-arrow-down"></i></a></td>
                                         </tr>
                       
                                           
                       
                                     </tbody>
                                   </table>
                       
                                 </div>
                       
                       
                       </div>
                       </div>
                       
                       </div>
                       
                       </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header panel-header">
                        Announcements
                    </div>
                    <div class="card-body">
                        <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-12">
                       
                               <div class="tab-content downloadtable">
                                 <div class="table-responsive">
                                   <table>
                                     <thead>
                                        <tr>
                                           <th>Sl#</th>
                                           <th>Details</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                         <tr>
                                          <span style="padding-left: 40%;">No Records Found</span> 
                                         </tr>
                       
                                           
                       
                                     </tbody>
                                   </table>
                       
                                 </div>
                       
                       
                       </div>
                       </div>
                       
                       </div>
                       
                       </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>



<!-- <section class="container">
    <div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="school tot_school_cnt">
                        <div class="body">
                            <img src="https://evidyavahini.jharkhand.gov.in/public/images/schooltablet.png"
                                alt="teacher available">
                        </div>
                        <div class="schoolfooter">
                            <a href="https://evidyavahini.jharkhand.gov.in/School/MIS/SchoolRawReportMis">
                                <h1 class="school_cnt">35431</h1>
                            </a>
                            <p>Number of govt. schools</p>
                            <a class="boxtext"
                                href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitDetails"><span
                                    class="school_cnt_brp">1877</span></a>

                            <a href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitDetails"><small>No.
                                    of schools visited by BRP/CRP </small></a>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:40%">
                                    Free Space
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="teacherattendance tot_teacherattendance">
                        <div class="body">
                            <img src="https://evidyavahini.jharkhand.gov.in/public/images/teacherbrp.png"
                                alt="teacher available">
                        </div>
                        <div class="schoolfooter">
                            <a href="https://evidyavahini.jharkhand.gov.in/Teacher/MIS/TeacherRawReport">
                                <h1 class="teacher_cnt">115500</h1>
                            </a>
                            <p>Number of teachers</p>

                            <ul class="manuallteacher">
                                <a href="https://evidyavahini.jharkhand.gov.in/Teacher/MIS/TeacherSummary">
                                    <li class="totalprsnt"><small>Total present <span
                                                class="teacher_present_cnt">89704</span></small></li>
                                </a>
                                <a href="https://evidyavahini.jharkhand.gov.in/Teacher/MIS/TeacherSummary">
                                    <li><small>Manual attendance <span class="manual_cnt">5693</span></small></li>
                                </a>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="brp tot_brp">
                        <div class="body">
                            <img src="https://evidyavahini.jharkhand.gov.in/public/images/brpcrp.png"
                                alt="teacher available">
                        </div>
                        <div class="schoolfooter">
                            <a href="https://evidyavahini.jharkhand.gov.in/Master/MIS/EmpProfileMIS">
                                <h1 class="brp_cnt">2924</h1>
                            </a>
                            <p>Number of BRP/CRP</p>
                            <a href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitSummary"
                                class="boxtext"><span class="active_brp_cnt">1170</span></a>
                            <a href="https://evidyavahini.jharkhand.gov.in/Facility/MIS/BrpCrpVisitSummary"><small>No.
                                    of active BRP/CRP</small></a>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width:40%">
                                    Free Space
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section> -->